* { box-sizing: border-box; }
html {
  font-family: 'Quicksand', sans-serif;
  color: white;
}

h1 {
  font-size: 54px;
  margin: 0 0 10px;
}

h3 {
  font-size: 16px;
  opacity: 0.64;
  margin: 58px 0 15px;
  text-transform: uppercase;
}
h3:first-of-type { margin-top: 0; }

h1 { font-weight: 300; }  
h3 { font-weight: 900; }  
p { font-weight: 400; }  

p {
  font-size: 24px;
  opacity: 0.80;
  margin: 0 0 15px 0;
  line-height: 1.4;
}

a {
  color: white;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

body {
  background: #FC7272;
}

header {
  padding: 40px;
  text-align: center;
}

.main {
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
}

.portrait, .content {
  width: 100%;
}

.portrait { text-align: center; }
.portrait img {
  border-radius: 13px;
  max-width: 350px;
}

@media (max-width: 740px) {
  .main {
    width: auto;
    flex-direction: column;
  }
  .content { padding: 40px 20px; }
}

@media (max-width: 500px) {
  header { padding: 25px 20px 20px; }
  h1 { font-size: 37px; }
  .portrait img {
    border-radius: 0px;
    width: 100%;
    max-width: 100%;
  }
}
